/** panzoom */
.panzoom-elements .buttons a i{
    font-size: 2rem;
    color: white;
    opacity: .75;
    margin: 0 .15rem;
}
.panzoom-elements .buttons a i:hover{
    opacity: 1;
}
.panzoom-elements .buttons a:last-child i{
    font-size: 1.75rem;
}
